* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --green: #64ffda;
  --light-green: #5681f8;
  --green-tint: rgba(100,255,218,0.1);
}

body {
  font-family: roboto, san-serif;
  color: var(--slate);
  background-color: var(--navy);
}

.slide-in, .filter {
  opacity: 0;
  transform: translateY(10%);
  transition: 500ms ease-in-out;
}

.slide-in.active, .filter.active {
  opacity: 1;
  transform: translateY(0);
}

.blur {
  filter: blur(10px);
}

.side_content {
  font-size: 12px;
  font-weight: 400;
  position: fixed;
  top: 50vh;
  writing-mode: vertical-lr;
  cursor: default;
  font-family: "Space Mono", monospace;
  letter-spacing: .1rem;
}

.side_content::after {
  content: "";
  display: block;
  position: absolute;
  top: 230px;
  left: 50%;
  width: 1px;
  height: 1000px;
  background-color: var(--slate);
}

.side_content_left {
  top: calc(50vh - 12.5px);
  left: 50px;
}

.social {
  margin: 1rem 0;
}

.social i {
  font-size: 1.1rem;
  display: inline-block;
  transition: 200ms;
}

.social a {
  margin: .4rem .85rem;
}

.side_content_right {
  right: 50px;
  transition: 200ms;
}

.side_content_right:hover, .side_content_left i:hover {
  color: var(--green);
}

.side_content_left i:hover {
  transform: translateY(-10%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 0 40px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: inherit;
  opacity: .98;
  z-index: 3;

  transition: box-shadow 400ms;
}

nav.box_shadow {
  box-shadow: 0 2px 10px var(--navy-shadow);
}

.logo {
  position: relative;
  color: var(--green);
}

.name {
  position: absolute;
  top: 29%;
  left: 28%;
}

.logo_wrapper {
  overflow: hidden;
}

.logo_path {
  transform: translate(1.5px, 4.2px);
  stroke-width: 3px;
  stroke: var(--green);
}

.desktop_nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-right: 50px;
}

.desktop_nav_item {
  display: block;
  color: var(--lightest-slate);
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}

.desktop_nav_item::after {
  content: "";
  background-color: var(--green);
  height: 2px;
  width: 0;
  display: block;
  margin-top: 3px;
  transform: translateX(-10px);
  transition: width 200ms ease-out;
}

.desktop_nav_item.active::after {
  width: calc(100% + 20px);
}

.mobile_nav {
  display: none;
}

.mobile_nav_item {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.burger_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .5rem;
  position: relative;
}

.burger_menu > div {
  width: 40px;
  height: 2px;
  background-color: var(--green);
}

.burger_menu > div:nth-of-type(2) {
  width: 30px;
}

.burger_menu > div:nth-of-type(3) {
  width: 20px;
}

.extended_menu {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;

  color: var(--lightest-slate);
  background: var(--light-navy); 
  
  font-size: 1.3rem;
  font-weight: 400;
  padding: 3rem 0;

  width: min(75vw, 500px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(100%);
  transition: 300ms ease-in-out;
}

main {
  padding: 0 11vw;
  transition: 200ms;
  transition-delay: .3s;
}

.section {
  min-height: 100vh;
  padding: 0 1rem;
}

.hero {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.hero h1 {
  color: var(--green);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero h2, .hero h3 {
  color: var(--lightest-slate);
  font-size: clamp(20px, 5.5vw , 80px);
  font-weight: 600;
  line-height: 1.1;
}

.hero h3 {
  color: var(--slate);
}

.hero p {
  margin: 40px 0;
  font-size: 20px;
}

.about, .experience, .projects, .contact {
  padding: 100px 1rem;
}

.profile_container {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  grid-column-gap: .5rem;
}

.profile_img {
  position: relative;
  display: block;
  width: max(200px, 20vw);
  height: max(200px, 20vw);
  border-radius: 5px;
  justify-self: center;
  box-shadow: 10px 10px 5px var(--navy-shadow);
}


.profile h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.skills {
  display: grid;
  grid-template-columns: auto 3fr .3fr;
  grid-gap: 1rem;
  align-items: center;
  width: 80%;
}

.meter {
  width: 100%;
  height: 6px;
  border-radius: 25px;
  background-color: var(--lightest-navy);
}

.meterbar {
  width: 0;
  height: 6px;
  border-radius: 25px;
  background-color: var(--light-green);
  transition: 800ms ease-out;
}

.bar1.fill {
  width: 80%;
}
.bar2.fill {
  width: 80%;
}
.bar3.fill {
  width: 65%;
}
.bar4.fill {
  width: 75%;
}
.bar5.fill {
  width: 50%;
}
.bar6.fill {
  width: 75%;
}

.projects_container {
  box-shadow: inset 0px 0px 10px black;
  border-radius: 5px;

  padding: 2rem;
  margin-bottom: 2rem;
  
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
}

.projects h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.projects h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: clamp(1rem, 2vw, 2rem) 0;
  transition: 200ms ease-in-out;
  color: transparent;
}

.description {
  text-align: left;
  padding: 0;
  background-color: transparent;
  width: 100%;
  margin: 2rem 0;
}
.project_item {
  padding: 1rem clamp(.5rem, 3vw, 1.5rem);
  max-width: 280px;
  height: 300px;
  color: transparent;
  cursor: default;

  transition: 300ms ease-in-out;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  background-blend-mode: darken;

}

.project_item:hover {
  color: var(--lightest-slate);
  transform: scale(1.03);
}

.project_item:hover h4 {
  color: var(--lightest-slate);
}

.project_item:hover a {
  color: var(--lightest-slate);
}

.demo {
  margin-top: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

.demo a:first-child {
  margin-right: 1rem;
}

.item1 {
  background: url(Images/2.jpg);
  background-position: center;
  background-size: cover;
}

.item1:hover {
  background: rgba(0,0,0, .7) url(Images/2.jpg);
  background-position: center;
  background-size: cover;
}
.item2 {
  background: url(Images/3.jpg);
  background-position: center;
  background-size: cover;
}
.item2:hover {
  background: rgba(0,0,0, .7) url(Images/3.jpg);
  background-position: center;
  background-size: cover;
}
.item3 {
  background: url(Images/4.jpg);
  background-position: center;
  background-size: cover;
}
.item3:hover {
  background: rgba(0,0,0, .7) url(Images/4.jpg);
  background-position: center;
  background-size: cover;
}
.item4 {
  background: url(Images/5.jpg);
  background-position: center;
  background-size: cover;
}
.item4:hover {
  background: rgba(0,0,0, .7) url(Images/5.jpg);
  background-position: center;
  background-size: cover;
}

.item5 {
  background: url(/HTML-Emails/Heroku-Email/screenshot.jpg);
  background-position: center;
  background-size: cover;
}
.item5:hover {
  background: rgba(0,0,0, .7) url(/HTML-Emails/Heroku-Email/screenshot.jpg);
  background-position: center;
  background-size: cover;
}

.item6 {
  background: url(/HTML-Emails/ProWritingAid/screenshot.jpg);
  background-position: center;
  background-size: cover;
}
.item6:hover {
  background: rgba(0,0,0, .7) url(/HTML-Emails/ProWritingAid/screenshot.jpg);
  background-position: center;
  background-size: cover;
}

.item7 {
  background: url(/HTML-Emails/Order-Confirmation/screenshot.jpg);
  background-position: center;
  background-size: cover;
}
.item7:hover {
  background: rgba(0,0,0, .7) url(/HTML-Emails/Order-Confirmation/screenshot.jpg);
  background-position: center;
  background-size: cover;
}

.tech {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.contact_form * {
  font-family: inherit;
}

.contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
  margin: 1rem 0;
  width: 600px;
  margin: auto;
  transform: translateY(10vh);
}

.contact_form input, textarea {
  width: 100%;
  padding: .5rem 0;
  outline: none;
  border: none;
  resize: none;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--light-slate);
  border-bottom: 1px solid var(--green);
}

.contact_form textarea {
  overflow-y: auto;
}

.contact_form .message {
  width: 100%;
  grid-column: 1 / span 2;
}

.submit {
  grid-column: 1 / span 2;
  margin: 0 auto;
}

::placeholder {
  color: inherit;
  opacity: .7;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: .7;
}

footer {
  width: fit-content;
  margin: 0 auto 2rem auto;
}

footer:hover p {
  cursor: pointer;
  color: var(--green);
}

footer p {
  font-size: .9rem;
  font-family: "Space Mono", monospace;
  transition: 200ms;
}

.mobile_footer {
  display: none;

}

.sec_heading {
  font-size: 2rem;
  width: fit-content;
  margin: 2rem 0;
  position: relative;
  color: var(--lightest-slate);
} 

.sec_heading::after {
  content: "";
  position: absolute;
  width: 30vw;
  height: 2px;
  background-color: var(--lightest-navy);
  top: 50%;
  left: calc(100% + 30px);
}

p {
  font-size: 1.2rem;
  color: var(--slate);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
}

.btn {
  display: block;
  width: max-content;

  border: 1px solid var(--green);
  border-radius: 5px;
  color: var(--green);
  background-color: transparent;
  font-size: 14px;
  
  padding: 20px 28px;

  transition: background-color opacity transform 200ms ease-in-out;
}

.btn:hover {
  background-color: var(--green-tint);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-slate); 
  border-radius: 25px;
}

/* Mobile Version Breakpoint */
@media (max-width: 840px) {

  /* change to mobile nav */
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }

  /* change the layout of the project items */
  .description {
    text-align: left;
    padding: 0;
    background-color: transparent;
    width: 100%;
    margin: 2rem 0;
  }
  .project_item, .project_item h4 {
    color: var(--lightest-slate);
  }
  .projects h3 {
    color: var(--lightest-slate);
  }
  .item1 {
    background: rgba(0,0,0, .7) url(Images/2.jpg);
    background-position: center;
    background-size: cover;
  }
  .item2 {
    background: rgba(0,0,0, .7) url(Images/3.jpg);
    background-position: center;
    background-size: cover;
  }
  .item3 {
    background: rgba(0,0,0, .7) url(Images/4.jpg);
    background-position: center;
    background-size: cover;
  }
  .item4 {
    background: rgba(0,0,0, .7) url(Images/5.jpg);
    background-position: center;
    background-size: cover;
  }
  .item5 {
    background: rgba(0,0,0, .7) url(/HTML-Emails/Heroku-Email/screenshot.jpg);
    background-position: center;
    background-size: cover;
  }
  .item6 {
    background: rgba(0,0,0, .7) url(/HTML-Emails/ProWritingAid/screenshot.jpg);
    background-position: center;
    background-size: cover;
  }
  .item7 {
    background: rgba(0,0,0, .7) url(/HTML-Emails/Order-Confirmation/screenshot.jpg);
    background-position: center;
    background-size: cover;
  }


  /* Adjusting the mobile footer */
  .side_content {
    display: none;
  }
  .mobile_footer {
    display: block;
  }

  /* change the layout of profile container */
  .profile_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
  }

  /* change the layout of contact_form */
  .contact_form {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 60vw, 600px);
  }

  /* change the font-size of hero p */
  .about p {
    font-size: 1rem;
  }

  /* skills container will be centered */
  .skills {
    width: 100%;
  }

  /* line after section heading will be shortened */
  .sec_heading::after {
    left: calc(100% + 10px);
    width: 25vw;
  }

  /* removing sections padding */
  .section {
    padding-left: 0;
    padding-right: 0;
  }

  /* changing font-size of projects headings and section headings */
  .projects h3 {
    font-size: 1.5rem;
  }
  .sec_heading {
    font-size: 1.7rem;
  }
}


@media (max-width: 430px) {

  /* Change main padding */
  main {
    padding: 0 1rem;
  }

  /* Hide Section heading */
  .sec_heading::after {
    display: none;
  }

  /* reduce padding from nav */
  nav {
    padding: 0 20px;
  }

  /* change the layout of the skills container */
  .skills {
    grid-template-columns: 4fr 1fr;
    grid-gap: 0;
    grid-column-gap: .5rem;
    grid-row-gap: .2rem;
  }
  .skill_name {
    grid-column: 1 / span 2;
  }

  /* change the grid property of projects_container */
  .projects_container {
    grid-template-columns: 1fr;
  }

  /* change root font size */
  body, html {
    font-size: 14px;
  }

  /* fix name logo place */
  .name {
    top: 32%;
    left: 31%;
  }
}
